<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniStress</title>
    <link rel="icon" type="image/svg+xml" href="/assets/images/unistress-favicon.svg">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <!-- <link rel="stylesheet" href="/css/global.css"> -->
</head>
<body>

    <!-- Landing / loading screen -->
    <div class="splash-container">
        
        <!-- UniStress logo -->
        <div class="logo-wrapper">
            <span class="static-u">U</span>
            
            <div class="letters-container" id="lettersContainer">
                <span>n</span><span>i</span><span>S</span><span>t</span><span>r</span><span>e</span><span>s</span><span>s</span>
            </div>
        </div>
        
         <!-- Loading progress -->
        <div class="loading-area">
            <div class="progress-track">
                <div class="progress-bar" id="progressBar"></div>
            </div>
            
            <div class="loading-status">
                <span id="loadingText">Initializing...</span>
                <span id="percentText">0%</span>
            </div>
        </div>

    </div>

    <!-- Footer text for loading page-->
    <div class="footer-brand">Unistress</div>

    <script src="/js/script.js"></script>
</body>
</html>